<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Header</title>
</head>
<body>
<div class="container-fluid text-danger">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="assets/logo.png" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">

          <li class="nav-item bg-gray fw-bold rounded-3 px-3 mx-2 caraque-font">
            <a class="nav-link color-green " href="#">Ideen <i class="bi bi-arrow-down color-green down-arrow"></i></a>
          </li>
          <li class="nav-item bg-gray fw-bold rounded-3 px-3 mx-2 caraque-font">
            <a class="nav-link color-green " href="#">Wochenplan</a>
          </li>
          <li class="nav-item bg-gray fw-bold rounded-3 px-3 mx-2 caraque-font">
            <a class="nav-link color-green " href="#">Shop</a>
          </li>
          <li class="nav-item bg-green fw-bold rounded-3 px-3 mx-2 caraque-font">
            <a class="nav-link color-white" href="#">Mein Bereich</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <div class="input-group rounded-4">
            <input type="text" class="form-control" placeholder="Lerninhalt suchen ..." aria-label="Search" aria-describedby="basic-addon2">
            <span class="input-group-text bg-white " id="basic-addon2"><i class="bi bi-search color-green fw-bold"></i></span>
          </div>
        </form>
      </div>
    </div>
  </nav>
</div>

</body>
</html>
