<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Footer</title>
</head>
<body>
<div class="container-fluid bg-green-2 footer d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="color-white quicksand-font">
          2023 © KiGa+. Alle Rechte vorbehalten.
        </p>
      </div>
      <div class="col-md-6 footer-links">
        <div class="float-end">
          <a href="#" class="text-decoration-none color-white quicksand-font "> Impressum </a>
          <span class="mx-3 color-golden">|</span>
          <a href="#" class="text-decoration-none color-white quicksand-font">Datenschutz</a>
          <span class="mx-3 color-golden">|</span>
          <a href="#" class="text-decoration-none color-white quicksand-font">AGB</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
