<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Social</title>
</head>
<body>
<div class="container-fluid bg-white">
  <div class="container container-newsletter  d-flex align-items-center justify-content-center  ">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <h1 class="caraque-font fw-bold">Kostenloser Newsletter</h1>
        <h4 class="text-center fw-light quicksand-font overflow-hidden">Lorem ipsum dolor sit amet, consetetur
          sadipscing elitr, sed diam nonumy eirmod tempor invidunt .</h4>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid container2-newsletter newsletter-bg  ">
  <div class="row">
    <div class="col-md-4 offset-md-4 text-center">
      <form class="d-flex mt-3" role="email">
        <div class="input-group ">
          <input type="email" class="form-control py-3 border-right-0" placeholder="E-Mail Address" aria-label="Search"
                 aria-describedby="basic-addon2">
          <span class="input-group-text bg-white pointer color-green fs-3" id="basic-addon2"><i
            class="bi bi-arrow-right-circle"></i></span>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>
