/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


/**
Fonts
 */
@font-face {
  font-family: 'Caraque_Trial_RgMelted';
  src: url('./assets/Caraque_Trial_RgMelted.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.caraque-font {
  font-family: 'Caraque_Trial_RgMelted', sans-serif;
  letter-spacing: 0.1em; /* change this value as per your requirement */
}

.quicksand-font {
  font-family: 'Quicksand', sans-serif;
}


body {
  background-color: #F3F3F3;
}

.border-right-0 {
  border-right: 0;
}

.pointer {
  cursor: pointer;
}

.rounded-bottom-v2 {
  border-radius: 0 0 20px 20px;
  overflow: hidden;
}

.rounded-top-v2 {
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}

/**
Background Colors
 */
.bg-gray {
  background-color: #E3E3E3;
}

.bg-green {
  background-color: #01723C;
}

.bg-green-2 {
  background-color: #055C33;
}

.bg-light-green {
  background: rgba(1, 114, 60, 0.15);
}


/*
Colors
*/

.color-white {
  color: #ffffff !important;
}

.color-green {
  color: #01723C !important;
}

.color-golden {
  color: #FFC700;
}

.color-grey {
  color: #DBDBDB;
}

/**
Header
 */

.down-arrow {
  font-size: 12px;
  font-weight: bold;
}

/**
Banner
 */

.banner {
  min-height: 43vh;
  max-height: 43vh;
}

/**
Banner Second
 */

.banner-second {
  min-height: 371px;
  max-height: 371px;
}

.bg-banner-one {
  background-color: #F6E8B6;
}

.bg-banner-two {
  background-color: #F9DD7A;
}

.bg-banner-three {
  background-color: #FFC700;
}

/**
Main Carousel
 */

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-image: linear-gradient(to bottom, rgb(207 224 216), rgb(207 224 216));
}

/**
Carousel 2
 */


.container-carousel2 {
  min-height: 83vh;
  max-height: 83vh;
}

.container-carousel2 .card-container {
  width: 18rem;
}

.main-carousel-contain {
  object-fit: cover;
}

.container-carousel2 .card-container img {
  width: 100%;
  object-fit: cover;
}

.container-carousel2 .card-container .img-container {
  width: 100%;
  height: 250px;
}

.container-carousel2 .card-container {
  border-color: #F3F3F3;
}

.container-carousel2 .card-container .card-body {
  background-color: white
}

.container-carousel2 .card-container .btn {
  position: absolute;
  top: 52%;
  z-index: 1;
  background-color: #F9DD7A;
}

/**
Carousel 3
 */
.container-carousel3 {
  min-height: 83vh;
  max-height: 83vh;
}

.container-carousel3 .card-container {
  width: 18rem;
}

.carousel3-bg {
  background-color: #FFC700;
}

.container-carousel3 .card-container img {
  transform: scale(0.5);
  width: 100%;
  object-fit: contain;
}

.container-carousel3 .card-container .img-container {
  width: 100%;
  height: 250px;
}

.container-carousel3 .card-container {
  border-color: #F3F3F3;
}

.container-carousel3 .card-container .card-body {
  background-color: white
}

.container-carousel3 .card-container .btn {
  position: absolute;
  top: 52%;
  z-index: 1;
  background-color: #F9DD7A;
}

/**
Carousel Styling
 */
.p-carousel-item {
  flex: 1 0 26.333333% !important;
}

img.main-carousel-contain {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-indicators {
  position: absolute;
  bottom: -8%;
  left: 13%;

  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-indicators [data-bs-target] {
  width: 1rem !important;
  height: 1rem !important;
  background-color: rgba(166, 164, 164, 0.5);
}

.carousel-indicators li {

  border-radius: 50%;
  background-color: rgba(166, 164, 164, 0.5);
  margin: 0 5px;
  cursor: pointer;
}

.carousel-indicators li.active {
  background-color: rgb(89, 87, 87);
}


/**
News Letter
 */
.container-newsletter {
  min-height: 26vh;
  max-height: 26vh;
}

.container2-newsletter {
  min-height: 35vh;
  max-height: 35vh;
}

.newsletter-bg {
  background: url("assets/newsletter-bg.png");
  background-repeat: repeat;
  background-size: cover;
  background-position: bottom;
}

/**
Social
 */
.container-social {
  min-height: 42vh;
  max-height: 42vh;
}

.container-social-second {
  min-height: 19vh;
  max-height: 19vh;
}

.social-list {
  list-style: none;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

.social-list li {
  position: relative;
  padding-bottom: 10px;
  margin: 0 auto;
  color: #ffffff;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.social-list li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 20%;
  height: 1px;
  border-bottom: 1px solid #FFC700;
  transform: translateX(-50%);
}

.social-list li:last-child::before {
  display: none;
}

.social-icons {
  width: 59px;
  height: 59px;
}

/**
Footer
 */
.footer {
  min-height: 10rem;
  max-height: 10rem;
}

.footer-links {
  text-decoration: underline; /* optional: add an underline to the links */

}
@media only screen and (max-width: 480px) {
  .container-social {
    max-height: 65vh;
  }
  .banner {
    max-height: 63vh;
  }
}
