<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Social</title>
</head>
<body>
<div class="container-fluid container-carousel2   d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="fw-bold caraque-font">Entdecke unsere Vielfalt!</h2>
      </div>
      <div class="col-md-6 text-end">
        <button class="btn btn-light px-4 shadow">Alle Themen</button>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <p-carousel [value]="items" [numVisible]="3" [responsiveOptions]="responsiveOptions" [showIndicators]="false" [circular]="true">
          <ng-template let-item pTemplate="item">
            <div class="card bg-transparent rounded-4 my-3 card-container shadow position-relative ms-3 float-start">
              <div class="img-container d-flex justify-content-center">
                <img [src]="item.img" [alt]="item.title" class="card-img-top carousel2-img">
              </div>
              <div class="card-body text-white" [ngStyle]="{'background-color': item.bg }">
                <button type="button" class="btn btn-warning rounded-pill mb-3 fw-bold px-3">{{item.title}}</button>
                <h3 class="card-text overflow-hidden my-5">{{item.label}}</h3>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </div>
</div>
</body>
</html>
